:root {
  /*GLOBAL VARS*/
  --maincolor: red;
  --secondarycolor: white;
  --accent: lightgreen;

  --titles: arial;
  --text: serif;
  --radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px dotted var(--accent);
}

body {
  font-family: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;

  background-image: radial-gradient(red, purple,blue);

  background-image: url("/img/83282.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 20vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Inside Header */
.title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 184, 135, .3);
}

.card-spec {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 0, 0, .3);
}

.get-deck {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 128, .3);
}

main {
  height: 65vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: rgba(0, 0, 0, .3);
}

/* Inside Main */
.pic-n-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75%;
  color:aliceblue;
}

/* Inside Pic-N-Info */
.arrows {
  justify-content: center;
  align-self: center;
  margin: 0px;
  color: aliceblue;
}

#back-arrow {
  margin-right: 1%;
}

#forward-arrow {
  margin-right: 7%;
  margin-left: 1%;
}
.card-slides {
  width: 35%;
  display: flex;
  justify-content: center;
}

.card-info {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.card-info h1 {
  text-align: center;
}

#details {
  height: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  justify-content: space-between;
}
/* Inside Card-Desc */
.card-desc {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: azure;
}
.card-desc p {
  font-style: italic;
  font-size: small;
  text-align: center;
  margin: 1%;
}

#name {
  font-weight: bold;
}
/* General Styling */
button {
  font-size: large;
  color: white;
  padding: 2px;
  background-color: blue;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: green;
}

img {
  max-width: 100%;
  max-height: 100%;
}
